* {
    margin:0px;
    padding:0px;
}


#h_box {
    height: 100px;
    background-color:rgb(33, 185, 152);
}

h1 {
    color:white;
}

a:link { text-decoration:none; color:#000000;}
a:visited {text-decoration:none;color:#000000;}
a:active {text-decoration:none; color:#000000; }


#container {
    margin:0;
    padding:0;
    width:max-content;
    display:block;
    background-color:yellow;
    position:relative;
    text-align:center;
}

#thank {
    width:100%;
    background-color:black;
    display: block;
    text-align: center;
}

.floatnav_B{
    display:block;
    height:50px;
    width:100%;
    text-align:center;
    background-color:red;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    bottom:0;
}

footer{
    height:200px;
    background-color:rgb(255, 75, 75);
}