* {
    margin:0px;
    padding:0px;
}

a:link {text-decoration:none; color:#000000;}
a:visited {text-decoration:none;color:#000000;}
a:active {text-decoration:none; color:#000000; }


h1 {
    color:white;
}





/** 1. __________________________________________________________________________________________________**/


body{
    display:block;
    width:100%;
    background-color:black;
    text-align:center;
    margin:0 auto;
}

header { 
    position:fixed;
    height: 45px;
    width: 100%;
    background-color:rgb(0, 0, 0);
    top:0;
    z-index:100;
}

#h_box{
    height: 40px;
    width: 100px;
    display:block;
    background-color:rgb(0, 0, 0);
    margin:5px 0 0 10px;
}

#h_box img{
    height: 30px;
    width: 90px;
    margin: 5px;
    }


/** 2. __________________________________________________________________________________**/

.container1 {
    display:grid;
    grid-template-columns: 15% 70% 15%;
    grid-gap:5px;
    text-align:center;
    padding-top:45px;
    background-color:rgb(0, 0, 0);
}
    

#boxA {
    display:inline-block;
    height:100%;
    width:100%;
    color:white;
    background-color:black;
   
    text-align: center;
    border-style:solid;
    border-color:rgb(0, 0, 0);
}
#boxB {
    display:inline-block;
    height:100%;
    width:100%;
    color:white;
    background-color:black;
    text-align: center;
    border-style:solid;
    border-color:rgb(0, 0, 0);
}


.container2{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap:5px;
    text-align:center;
    background-color:rgb(0, 0, 0);
    border-style:solid;
    border-color:rgb(70, 66, 66);
}

.gbox{
    border-style:solid;
    border-color:rgb(189, 179, 179);
}




/** 3. -------------------------------------------------------------------------------------------  **/


.floatnav_B.hidden {
    opacity: 0;
    bottom: -100px;
  }


.floatnav_B{
    display:block;
    height:80px;
    width:100%;
    text-align:center;
    position:fixed;
    bottom:0;

}
.floatnav_B li {
    display:inline-block;
    list-style:none;
}

.floatnav_B li ul {
    width: 50px;
    height: 50px;
    margin:5px 50px;
    border-style:solid;
    border-color:white;
    border-radius:15px;
    display:inline-block;
    list-style:none;
    color:white;
}

.floatnav_B img{
    display:block;
    height:50px;
    width:50px;
    border-radius: 15px;
}





/**4. ______________________________________________________________________________________________________**/

footer{
    height:100px;
    width:100%;
    background-color:rgb(0, 0, 0);
    display:block;
    text-align:center;
    bottom:0;

}

#foot_L {
    height:80px;
    width:90%;
    display:block;
    color:white;
    text-align:left;
}









/* djdfdfffsdffsd */


@media(max-width:850px){
    .container2{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: minmax(200px, auto);
        grid-gap:5px;
        text-align:center;
        background-color:rgb(0, 0, 0);
        border-style:solid;
        border-color:rgb(70, 66, 66);
    }
    
   
   
    .floatnav_B{
        display:block;
        height:80px;
        width:100%;
        text-align:center;
        position:fixed;
        bottom:0;
    }
    .floatnav_B li {
        display:inline-block;
        list-style:none;
    }
    
    .floatnav_B li ul {
        width: 45px;
        height: 45px;
        margin:5px 6px;
        border-style:solid;
        border-color:white;
        border-radius:15px;
        display:inline-block;
        list-style:none;
        color:white;
    }

    .floatnav_B img{
        display:block;
        height:45px;
        width:45px;
        border-radius: 15px;
    }
    
}