:root {
/*color*/
--color-1:#bdb9b7;
--color-2:#efebe9;
--color-3:#fafafa;
--color-LightYellow:rgb(255, 255, 228);

/*font*/
--font-large:3em;
--font-medium:2em;
--font-regular:1em;
--font-small:12px;
--font-small2:0.5em;
--font-mobile-max:

/*etc*/
--border-radius:15px;
--anime-duration:300ms;
--side-padding:0 10px;
}

/* ▷▷▷▷▷▷▷▷▷▷▷▷▷▷COMMON◁◁◁◁◁◁◁◁◁◁◁◁◁ */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

a:link,
a:visited,
a:active {text-decoration:none; color:#000000; }

* {
    font-family: 'Source Sans Pro', sans-serif;
}

/* ▷▷▷▷▷▷▷▷▷▷▷▷▷▷WRAP◁◁◁◁◁◁◁◁◁◁◁◁◁ */

.wrap{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ▷▷▷▷▷▷▷▷▷▷▷▷▷▷HEADER◁◁◁◁◁◁◁◁◁◁◁◁◁ */

header {
    position: sticky;
    top:0;
    display:flex;
    justify-content: space-between;
    padding:var(--side-padding);
    align-items: center;
    height:40px;
    width: 100%;
    background-color: var(--color-2);
    /*border:1px solid rgb(255, 255, 255);*/
}

.header__logo {
    width:30px;
    height:30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: white;
}

.header__img {
    width:100%;
    border-radius: 50%;
}

.header__center{
    width:30px;
    height:30px;
    border:4px solid rgb(0, 0, 0);
    border-radius: 50%;
}

.header__menu {
    width:30px;
    height:30px;
    font-size:24px;
    padding-top: 3px;
}



/**____________________________________________________**/

#ContentBox {
    height:auto;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
    /*border:1px dashed rgb(0, 0, 0);*/
}

/*
.cBox1 {
    display: block;
    text-align: center;
    max-width: 1200px;
    height:auto;
    width: 100%;
    margin: 5px;
}

.cBox1_1{
    display:block;
    text-align: center;
    height: auto;
    width: 100%;
}

.cBox1_1_img{
    text-align: center;
    height:auto;
    max-width: 1000px;
    width: 100%;
}
*/
/*
.cBox__title{
    font-size:5vw;
    width:100%;
    text-align:center;
    line-height:10vh;
    font-weight:bold;
}
*/
#slideshow {
    display: block;
    width: 800px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin: 5 auto;
}

#slideshow img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#slideshow img.active {
    opacity: 1;
}


.cBox2{
    display: block;
    text-align: center;
    height: auto;
    max-width: 1200px;
    width: 100%;
    margin: 5px;
}

.cBox2_1{
    display:block;
    text-align: center;
    height:auto;
    width: 100%;
}
.cBox2_1_img{
    text-align: center;
    height:auto;
    max-width: 500px;
    width:100%;
}


.cBox3{  
    display: block;
    text-align: center;
    height: auto;
    max-width: 1200px;
    width: 100%;
    margin: 5px;  
}
.cBox3_1{
    display:block;
    text-align: center;
    height:auto;
    width: 100%;
}
.cBox3_1_img{
    text-align: center;
    height:auto;
    max-width: 500px;
    width:100%;
}


/*____________________________________________________footer____________________________________________________*/

footer {
    position:sticky;
    bottom:0;
    display:flex;
    justify-content:right;
    border:1px solid white;
    width:100%;
    height:40px;
    background-color: var(--color-2);
}
.footer__message{
    line-height:40px;
    font-weight:600;
    margin-right:10px;
}

.footer__links{
    font-size:20px;
    text-align: right;
    margin-right:10px;
}
.footer__links i{
    padding:0 2px;
    line-height: 40px;
}




/**_______________NAV______________________**/


nav{
    width:100%;
    padding:0;
    position:fixed;
    bottom:0;
    transition:all 2s ease-in-out;
    transform:translateY(0);
}

.nav--up{
    transform:translateY(200px);
}

nav li {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    align-content:center;
    list-style:none;

}
nav li ul {
    height:50px;
    width:50px;
    list-style:none;
    align-self:center;
    margin:1% 2%;
}
nav li ul img{
    height:50px;
    width:50px;
    border:2px solid white;
    border-radius:15px;
}



/**____________________________________________________**/


@media screen and (max-width:768px){
        
    nav li ul {
        height:35px;
        width:35px;
    }
    nav li ul img{
        height:35px;
        width:35px;
    }
    .cBox1_1_img{
        max-width: 400px;
    }
    
    .cBox2_1_img{
        max-width: 400px;
    }
    .cBox3_1_img{

        max-width: 400px;
    }
    

}