header {
    height: 250px;
    background-color:rgb(255, 255, 255);
}

h1 {
    color:white;
}

a:link { text-decoration:none; color:#000000;}
a:visited {text-decoration:none;color:#000000;}
a:active {text-decoration:none; color:#000000; }



#thank {
    height:auto;
    width: auto;
    background-color:black;
    display: block;
    position: relative;
    text-align: center;
}

#tha {
    color:white;
    font-size: 140px;
    text-align: center;
}
#text{
    text-align: center;
    color:white;
}




#container {
    display:inline-block;
}

#ea {
    height:auto;
    display:inline-block;
    background-color:black;
}
#eb {
    height:auto;
        display:inline-block;
    background-color:rgb(151, 27, 27);
}
#ec {
    height:auto;
    display:inline-block;
    background-color:rgb(112, 62, 62);
}

footer {
    height:300px;
    background-color:rgb(255, 255, 255);
}