    <!--NAV-->
    <nav>
      <li>
        <ul><a href="https://www.instagram.com/"
           target="_blank"><img src="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/nav_insta.png?raw=true"></a></ul>

        <ul><a href="https://gaemigaemi.github.io/japanese"
           target="_blank"><img src="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/nav_japanese.png?raw=true"></a></ul>

        <ul><a href="https://blog.naver.com/book_ant"
           target="_blank"><img src="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/nav_naver.png?raw=true"></a></ul>

        <ul><a href="https://at1st.tistory.com/" 
          target="_blank"><img src="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/nav_tstory.png?raw=true"></a></ul>

        <ul><a href="https://www.youtube.com/channel/UCPiGdy62ZSnpA3o0FzAPbMw" 
          target="_blank"><img src="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/nav_youtub.png?raw=true"></a></ul>
          
        <ul><a href="https://gaemigaemi.github.io/science" 
          target="_blank"><img src="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/nav_science.png?raw=true"></a></ul>
      </li>
    </nav>