  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://gaemigaemi.github.io/assets/css/style.css">
  <title>{{ page.title }}</title>
  <script defer src="https://gaemigaemi.github.io/assets/src/main.js"></script>
  <script defer src="https://gaemigaemi.github.io/assets/src/1_book_circle.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/bf33fd6ae5.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/logo50x50.png?raw=true">
  {% feed_meta %}
  {% seo %}