header {
    position: sticky;
    top:0;
    display:flex;
    justify-content: space-between;
    padding:var(--side-padding);
    align-items: center;
    height:40px;
    width: 100%;
    background-color: var(--color-4);
    z-index: 10;
    /*border:1px solid rgb(255, 255, 255);*/
}

.header__logo {
    width:30px;
    height:30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: white;
}

.header__img {
    width:100%;
    border-radius: 50%;
}

.header__center{
    width:30px;
    height:30px;
    border:4px solid rgb(255, 255, 255);
    border-radius: 50%;
}

#clock {
   font-size: 2em;
   font-weight: bold;
   text-align: center;
   margin-top: 50px;
}



.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.menu-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.header__menu {
    top: 12px;
    right: 15px;
    z-index: 1100;
    cursor: pointer;
}
.header__menu i {
    font-size: 24px;
    color:#ffffff;
    transition: color 0.3s ease; 
}

.header__menu:hover i {
    color: rgb(134, 152, 255);
}



