<!doctype html>
<html>
  <head>
    {% include head.html %}
    {% include nav_bottom.html %}
  </head>


<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
  <!-- WRAP-->
  <div class="wrap">
    <!-- HEADER -->
    <header>
      <div class="header__logo">
        <img src="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/logo50x50.png?raw=true" alt="" class="header__img">
      </div>


      <div id="datetime">Loading...</div>


      <div class="header__menu" id="menuOpenBtn">
        <i class="fa-solid fa-bars"></i>
      </div>
    </header>
    
    <!-- 메뉴 오버레이 -->
  <div class="menu-overlay" id="menu">
     <div class="menu-content">
      <a href="#">아직</a>
      <a href="#">뭘넣을지</a>
      <a href="#">안정했네네네네네네</a>
    <button id="menuCloseBtn">X</button>
    </div>
  </div>







    <!--CONTENT BOX-->
    <section id="ContentBox">
    
      <div class="box_notice">
        <div class="box_wrap">

          <div class="box1">
            
          </div>      
          <div class="box1" id="box_ad">
             <iframe src="https://ads-partners.coupang.com/widgets.html?id=871522&template=carousel&trackingCode=AF9023285&subId=&width=100&height=100&tsource=" frameborder="0" scrolling="no" referrerpolicy="unsafe-url" browsingtopics></iframe>
             <p>이 광고는 쿠팡 파트너스 활동의 일환으로,<br>이에 따른 일정액의 수수료를 제공받습니다.</p>
          </div>      
   
          <div class="box1" id="YouTube_Box">
            <iframe src="https://www.youtube.com/embed/by_gtrEkDsw" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
     
          <div class="box1" id="slideshow">
            <img src="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/image1.png?raw=true" class="active" alt="Image 1">
            <img src="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/image3.png?raw=true" alt="Image 3">
            <img src="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/image2.png?raw=true" alt="Image 2">
            <img src="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/image4.png?raw=true" alt="Image 4">
            <img src="https://github.com/GaemiGaemi/gaemigaemi.github.io/blob/main/assets/img/image5.png?raw=true" alt="Image 5">
            <!-- 추가 이미지 삽입 가능 -->
          </div>

        </div>
      </div>
      
      
      <div class="sub_box">
        <h1> 링크 1</h1>
      </div>
      <div class="sub_box">
        <h1> 링크 2</h1>
      </div>
      <div class="sub_box">
        <h1> 링크 3</h1>
      </div>
      <div class="sub_box">
        <h1> 링크 4</h1>
      </div>

      
      
      
    </section>

    <!--FOOTER-->
    <footer>
      <div class="footer__message">
        If you want to contact me, do scroll up!! 
      </div>
      <div class="footer__links">
        <i class="fa-solid fa-envelope"></i>
        <i class="fa-brands fa-github"></i> 
      </div>
    </footer>

  </div>
{% if page.floating_ad %}
{% include floating-ad.html %}
{% endif %}

{% if page.nav_bottom %}
{% include nav_bottom.html %}
{% endif %}
</body>
</html>